/*Navigation Buttons*/
.button-nav {
    background-color: white;
    color: black;
    border-bottom: 2px solid #2f4970;
    border-radius: 0px 0px 0px 0px;
    padding: 4px 10px 4px 10px;
}

    .button-nav.first {
        border-radius: 10px 0px 0px 0px;
    }

    .button-nav.button-nav.last {
        border-radius: 0px 10px 0px 0px;
    }


    .button-nav:focus, .button-nav:active:focus {
        box-shadow: 0 0 0 0;
    }

    .button-nav:hover {
        background-color: #e7e7e7;
        font-weight: 600;
    }

/*Empty Buttons*/
.button-empty {
    background-color: #00000000;
    color: black;
    border-bottom: 0px;
    border-radius: 10px;
    white-space: nowrap;
}

    .button-empty:focus, .button-empty:active:focus {
        box-shadow: 0 0 0 0;
    }

    .button-empty:hover {
        background-color: #d8e8ff;
    }

.button-solid {
    background-color: white;
    color: black;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 9px;
}

    .button-solid:focus, .button-solid:active:focus {
        box-shadow: 0 0 0 0;
    }

    .button-solid:hover {
        background-color: #eeeeee;
    }
