@page "/"

<PageTitle>Home</PageTitle>

<h1>Northstar Risk</h1>

<label>Northstar is not just software, it's a service. Other vendors require you to build and maintain complex systems to import, 
    export and store data. At Northstar, our experts will fully integrate your back office systems with our platform. Each day,
    your data is automatically loaded, crosschecked, and stored in your own private Northstar cloud, giving you easy access to current 
    and historical data. Northstar is faster, easier to maintain and more accurate, saving you time and money.</label>
<br />
<br />
<label>Welcome to NorthstarBlazor app!</label>
