*[b-4lfsrfqy1f], *[b-4lfsrfqy1f]:before, *[b-4lfsrfqy1f]:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.loading[b-4lfsrfqy1f] {
    display: block;
    text-align: left;
    font-weight: 600;
}

body[b-4lfsrfqy1f] {
    background: #105469;
    font-family: 'Open Sans', sans-serif;
}

table[b-4lfsrfqy1f] {
    background: #ffffff;
    border-radius: 10px;
    border-collapse: collapse;
    margin: 1px;
    outline: 1px solid #b7b7b7;
}

th[b-4lfsrfqy1f] {
    border-bottom: 1px solid #b7b7b7;
    border-right: 2px dashed #d2d2d2;
    background: #efefef;
    border-radius: 10px 10px 0px 0px;
    color: #364043;
    font-weight: 600;
    padding: 1em 0.5em;
    text-align: left;
}

    th.symbol[b-4lfsrfqy1f] {
        border-right: 1px solid #b7b7b7;
        width: 130px;
    }

    th.last[b-4lfsrfqy1f] {
        border-right: none;
    }

a[b-4lfsrfqy1f] {
    text-decoration: none;
}

td[b-4lfsrfqy1f] {
    color: #364043;
    font-weight: 400;
    padding: 0.65em 0.5em;
    vertical-align: central;
    text-align: left;
}

    td.symbol[b-4lfsrfqy1f] {
        border-right: 1px solid #b7b7b7;
    }

    td.bold[b-4lfsrfqy1f] {
        font-weight: 600;
    }

.disabled td[b-4lfsrfqy1f] {
    color: #4F5F64;
}

tbody tr[b-4lfsrfqy1f] {
    transition: background 0.25s ease;
}

tr:nth-child(even)[b-4lfsrfqy1f] {
    background-color: #f2f2f2;
}

tbody tr:hover[b-4lfsrfqy1f] {
    background: #e9fdfd;
}

td.achieve[b-4lfsrfqy1f] {
    color: #47cb32;
}

td.waste[b-4lfsrfqy1f] {
    color: #e32222;
}


input.largerCheckbox[b-4lfsrfqy1f] {
    width: 20px;
    height: 20px;
    transform: translate(0px, 4px)
}
