@page "/"

<PageTitle>Home</PageTitle>

<h1>RiskBlazor</h1>

<strong>Application with graph information that parse data from Blazor Server </strong>
<br />
<br />
<label>Check Portfolio button in Left Tab </label>
<br />
<br />
<label>Welcome to RiskBlazor app!</label>
