
table {
    background: #ffffff;
    border-radius: 10px;
    border-collapse: collapse;
    margin: 1px;
    outline: 1px solid #b7b7b7;
}

th {
    border-bottom: 1px solid #b7b7b7;
    border-right: 2px dashed #d2d2d2;
    border-radius: 0px 0px 0px 0px;
    background: #efefef;
    color: #364043;
    font-weight: 600;
    padding: 1em 0.5em;
    text-align: left;
}

    .th.symbol {
        border-right: 1px solid #b7b7b7;
        border-radius: 10px 0px 0px 0px;
        width: 130px;
        white-space: nowrap;
    }

    .th.last {
        border-right: none;
        border-radius: 0px 10px 0px 0px;
    }

a {
    text-decoration: none;
}

td {
    color: #364043;
    font-weight: 400;
    padding: 0.65em 0.5em;
    vertical-align: central;
    text-align: left;
}

td.symbol {
    border-right: 1px solid #b7b7b7;
}

td.bold {
    font-weight: 600;
}

.disabled td {
    color: #4F5F64;
}

tbody tr {
    transition: background 0.25s ease;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background: #357ae459;
}

td.achieve {
    color: #47cb32;
}

td.waste {
    color: #e32222;
}


input.largerCheckbox {
    width: 20px;
    height: 20px;
    transform: translate(0px, 4px)
}

div.loading {
    display: block;
    text-align: left;
    font-weight: 600;
}